.ui.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  width: 100%;
}

.songdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
