.header {
  padding: 0 50px;
  height: 15vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: #fff;
}

.logo {
  color: #fff;
}

.logo h2 {
  letter-spacing: 2px;
}
