.signup {
  height: 85vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.signup-window {
  width: 600px;
}
