.video-card-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  cursor: pointer;
}

.video-card-div img {
  width: 88px;
  height: 88px;
  object-fit: cover;
  margin-right: 10px;
}

.description :nth-child(2) {
  margin-bottom: 5px;
}

.description h2 {
  font-size: 14px;
  display: inline;
}

.description p {
  font-size: 12px;
  max-width: 200px;
  margin: 0;
}
