.video-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-18px);
  margin-top: 43px;
}

.list {
  width: 100%;
  list-style: none;
}
