body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  padding: 10px 0;
  min-height: 100vh;
}

.header {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh;
}

.title {
  display: flex;
  align-items: center;
}

.title i {
  color: red;
  margin-right: 2px;
}

.title h1 {
  font-size: 30px;
  font-family: 'Teko', sans-serif;
  margin-right: 40px;
}

.section {
  padding: 0 50px;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
