body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 10px 50px;
  min-height: 100vh;
}

.header {
  padding: 0 30px;
  height: 10vh;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.title i {
  color: red;
  margin-right: 2px;
}

.title h1 {
  font-size: 30px;
  font-family: 'Teko', sans-serif;
  margin-right: 40px;
}

.section {
  min-height: 90vh;
}
