.video-screen {
}

.media-player {
  height: 500px;
  margin-top: 60px;
}

.iframe {
  width: 95%;
  height: 100%;
  border: none;
}

.details {
  box-sizing: border-box;
  width: 85%;
  padding: 10px;
}
